:root {
  font-size: 18px;
  font-family: "Catamaran", sans-serif;
  --text-primary: #ffffff;
  --text-secondary: #035a4b;
  --bg-primary: #ffffff;
  --bg-secondary: #88c3ac;
  --bg-tertiary: #fbedea;
  --bg-color: #ec4558;
}
