:root {
  font-size: 18px;
  font-family: "Catamaran", sans-serif;
  --text-primary: #ffffff;
  --text-secondary: #035a4b;
  --bg-primary: #ffffff;
<<<<<<< HEAD
  --bg-secondary: #c5e5d9;
  --bg-tertiary: #fadbd4;
=======
  --bg-secondary: #88c3ac;
  --bg-tertiary: #c5e5d9;
>>>>>>> master
  --bg-color: #ec4558;
}
