:root {
  font-size: 18px;
  font-family: "Catamaran";
  --text-primary: #ffffff;
  --text-secondary: #035a4b;
  --bg-primary: #ffffff;
  --bg-secondary: #c5e5d9;
  --bg-tertiary: #fadbd4;
  --bg-color: #ec4558;
}
* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}
